@font-face {
    font-family: Norse-Bold;
    src: url(assets/Norse-Bold.otf);
}

h1 {
    font-family: Norse-Bold, sans-serif;
    font-size: 10vh;
    color: white;

    margin-top: 1vw;
    margin-bottom: 1vw;
}

body {
    background-color: black;

    margin: 0;

    /* display: flex; */
}

.center {
    display: flex;

    margin-left: 15%;
    margin-right: 15%;

    /* margin-bottom: 0%; */
}

.left {
    width: 35vw;

    display: flex;
    justify-content: center;
}

.left img {
    width: 30vw;
}

.right {
    background-color: white;
    width: 70vw;
}

.logo-and-logo-banner {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10vw;
}

.logo {
    display: flex;
    position: absolute;
}

.logo-banner {
    width: 30vw;
    height: 18vh;
    background-color: black;
    opacity: 50%;
}

.logo img {
    width: 5vw;
}